# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
build/
dist/
*.egg-info/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# Environment files
.env
.env.*

# Misc
*.swp
*.swo
.idea/
*.bak
*.tmp

# NASA data environment
nasaenv/